# Node.js dependencies
/backend/node_modules
/frontend/node_modules

# Frontend build folder (for React/Vite)
/frontend/build
/frontend/dist

# Backend build folder (if any)
# (e.g., if you're using TypeScript or bundling the backend)
# /backend/dist
# /backend/build

.env

# Logs
*.log

# Operating system files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
